html {
  height: 100%;
}

body {
  background-color: #fbd1a0;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.class {
  width: 35%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.class:first-of-type {
  background-color: #ff6b6b;
  margin-right: 35px;
}

.class:last-of-type {
  background-color: #fbf67f;
}

.inside-1 {
  width: 25%;
  height: 55%;
  background-color: #f1bd58;
}

.inside-1 + .inside-1 {
  margin-left: 70px;
}

.inside-2 {
  width: 20%;
  height: 30%;
  background-color: #d3a0fb;
  margin-right: 40px;
}

.inside-2:nth-of-type(3n) {
  margin-right: 0px;
}
