body {
  width: 600px;
  height: 827px;
  height: 100%;
  margin: 0 auto;
}

.header {
  width: 227px;
  height: 56px;
  margin: 44px 0 0 129px;
  font-size: 48px;
  font-family: 'Roboto' sans-serif;
  color: #000000;
}
