body {
  width: 100%;
  margin: 0;
  padding: 50px 0;
  background-color: #363636;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

header {
  width: 70%;
  height: 100px;
  margin: 0 auto 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbf67f;
  color: #a8b5e4;
  border: 5px solid #a8b5e4;
  border-radius: 10px;
}

.container {
  width: 70%;
  margin: 0 auto 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbf67f;
  border-radius: 10px;
}

.card-1 {
  width: 20%;
  border: 5px solid #ff6b6b;
  color: #ff6b6b;
}

.card-2 {
  width: 20%;
  border: 5px solid #d3a0fb;
  color: #d3a0fb;
}

.card-3 {
  width: 40%;
  border: 5px solid #48d232;
  color: #48d232;
}

.footer {
  width: 70%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbf67f;
  color: #a8b5e4;
  border: 5px solid #a8b5e4;
  border-radius: 10px;
}
