html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0 auto;
  background-color: #d3a0fb;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 280px;
  height: 240px;
  background-color: #fbf67f;
  border-radius: 20px 0 0 20px;
  box-shadow: 10px 10px 15px rgba(68, 41, 41, 0.35);
}

.heading {
  font-size: 30px;
  color: #d3a0fb;
  font-weight: bold;
  margin: 40px 0px 0 20px;
}

.date {
  font-size: 25px;
  color: #d3a0fb;
  margin: 80px 0px 0px 20px;
}

.right {
  width: 480px;
  height: 240px;
  background-color: #ffffff;
  border-radius: 0 20px 20px 0;
  box-shadow: 10px 10px 14px rgba(68, 41, 41, 0.35);
}

.text {
  font-size: 25px;

  color: #d3a0fb;
  margin: 40px 30px 0px 30px;
}
