html {
  height: 100%;
}

body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.left {
  width: 128px;
  height: 230px;
  background-color: #546397;
  margin-right: 94px;
  border-radius: 10px;
}

.right {
  width: 128px;
  height: 156px;
  background-color: #546397;
  border-radius: 10px;
}

.line {
  width: 128px;
  border: 1px solid rgba(168, 181, 228, 0.3);
  margin-top: 25px;
}

.image {
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border-radius: 50px;
  content: url('IMG-1.JPG');
  object-fit: fill;
  margin-left: 45px;
  margin-top: 17px;
}

.small-oval {
  width: 6px;
  height: 6px;
  background-color: #fbf67f;
  border-radius: 6px;
  border: 2px solid #d3a0fb;
  margin-left: 75px;
  margin-top: -30px;
  position: relative;
}

.name {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: normal;
  margin-left: 21px;
  margin-top: 10px;
}

.position {
  font-size: 5px;
  font-family: 'Roboto Mono', sans-serif;
  color: #a8b5e4;
  font-weight: normal;
  margin-left: 34px;
  margin-top: 4px;
}

.ovals {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.oval-left {
  width: 30px;
  height: 30px;
  background-color: #fbf67f;
  margin-left: 9px;
  border-radius: 15px;
}

.oval-center {
  width: 30px;
  height: 30px;
  background-color: #fbf67f;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
}

.oval-right {
  width: 30px;
  height: 30px;
  background-color: #fbf67f;
  margin-right: 9px;
  border-radius: 15px;
}

.numerals {
  font-size: 18px;
  font-family: 'Roboto Mono', sans-serif;
  color: #a8b5e4;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-left: 9px;
  position: absolute;
}

.button-friend {
  width: 65px;
  height: 22px;
  background-color: #d3a0fb;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(68, 41, 41, 0.35);
  border: 1px solid #fbf67f;
  margin-left: 31px;
  margin-top: 14px;
}

.word-friend {
  font-size: 7px;
  font-family: 'Roboto', sans-serif;
  color: #fbf67f;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 7px;
}

.right .image {
  margin-top: -17px;
  border: 2px solid #ffffff;
  border-radius: 50px;
}

.right .name {
  margin-top: 5px;
}

.right .position {
  margin-top: 2px;
}

.right .button-friend {
  margin-top: 12px;
}

.right .ovals {
  margin-top: 0px;
}

.right .oval-left {
  margin-top: 5px;
}

.right .oval-center {
  margin-top: 27px;
}

.right .oval-right {
  margin-top: 5px;
}

.right .line {
  margin-top: 14px;
}
