html {
  height: 100%;
}

body {
  background-color: #dbccff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.card {
  width: 150px;
  background-color: #546397;
  border-radius: 10px;
}

.card + .card {
  margin-left: 94px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.left > .image {
  width: 38px;
  height: 38px;
  margin-top: 20px;
  border-radius: 50%;
  background-image: url("IMG-1.JPG");
  background-size: 100%;
  object-fit: cover;
  position: relative;
}

.left .badge {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fbf67f;
  border: 2px solid #d3a0fb;
  position: absolute;
  bottom: 0;
  right: 0;
}

.left > .name {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  color: #ffffff;
}

.left .position {
  font-size: 5px;
  font-family: "Roboto Mono", sans-serif;
  margin-top: 5px;
  color: #a8b5e4;
}

.left > .oval-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #a8b5e4;
}

.oval-container > .oval {
  width: 30px;
  height: 30px;
  background-color: #fbf67f;
  border-radius: 15px;
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
  color: #a8b5e4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oval-container > .oval:nth-of-type(2) {
  margin-left: 10px;
  margin-right: 10px;
}

.left > .button-container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container > .button {
  width: 65px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3a0fb;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(68, 41, 41, 0.35);
  border: 1px solid #fbf67f;
  font-size: 7px;
  font-family: "Roboto", sans-serif;
  color: #fbf67f;
  font-weight: bold;
}
