html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0 auto;
  background-color: #d3a0fb;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 280px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fbf67f;
  border-radius: 20px 0 0 20px;
  box-shadow: 10px 10px 15px rgba(68, 41, 41, 0.35);
}

.heading {
  font-size: 30px;
  color: #d3a0fb;
  font-weight: bold;
  margin: 25px 20px 0 15px;
}

.date {
  font-size: 25px;
  color: #d3a0fb;
  margin: 0 0 15px 15px;
}

.right {
  width: 480px;
  height: 240px;
  background-color: #ffffff;
  border-radius: 0 10px 10px 0;
  box-shadow: 10px 10px 15px rgba(68, 41, 41, 0.35);
}

.text {
  font-size: 25px;

  color: #d3a0fb;
  margin: 30px 15px 0px 15px;
}
